<div class="center jumbotron">
  <div class="layer">
    <h1 class="display-4">ALPHA BLOG</h1>
    <p class="lead">This is a simple blog application done in Rails</p>
    <hr class="my-4">
    <%= link_to 'Sign up now', "#", class: "btn btn-primary btn-lg btn-xlarge", role: "button" %>
  </div>
</div>