<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">All right reserved to Alpha Blog</a>
      by <a href="#">Alberto Aragon</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to 'About', about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>